.parallax {
  height: 430px;
  width: auto;
  overflow: hidden;
  position: absolute;
  background-position: center center;
  background-size: cover;
  margin-top: -10px;
  top:0;
  left: 0;
  right: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}

.ant-carousel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 1024px) {
  .parallax {
    height: 430;
  }
}

/* parallax on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .parallax {
    height: 60;
  }
}

/* parallax on small screens */
@media only screen and (max-width: 767px) {
  .parallax {
    margin-top: 72px;
    height: 160px;
  }
  .carrossel{
       margin-top: 72px;
  }
}
