/* #container-tab .content-img{
    max-width: ;
} */

#container-tab .content-itens {
  flex-direction: column !important;
  flex-wrap: wrap;
}

#container-tab .content-itens .box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 3%;
}
#container-tab .content-itens .box label {
  text-transform: lowercase;
}
#container-tab .content-itens .box label span{
    color: rgb(1, 88, 88);
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    div.content-itens.table  {
        margin-top: 20px;
    }   
    div.content-itens.info  {
        margin-top: 40px;
    }   
}