.container-massa {
  flex-direction: column;
  align-items: flex-start;
}

.container-massa .content-itens h3{
    text-align: left;
}

.container-massa .content-box {
  width: 90%;
  background-color: rgba(182, 180, 180, 0.356);
  padding: 20px;
  border-radius: 0 30px 30px 30px;
}

.container-massa .content-box h3 {
  font-size: 30px;
}

.container-massa .content-itens{
    width: fit-content;
}

.container-historia .galery-massa {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.container-historia .galery-massa[data-about]{
  width: 45%;
}

.container-historia .content-itens[data-about]{
  width: 60%;
}

.container-historia .galery-massa .box-img{
  width: 18%;
}

.container-historia .galery-massa .box-img img{
    height: 100%;
}

/* margin on small screens */
@media only screen and (max-width: 767px) {
  .container-historia .galery-massa .box-img{
  width: 45%;
}
}



