.container .content-img .box-img .buttonImg{
    transition: .5s;
} 
.container .content-img .box-img .buttonImg:hover{
    transform: translateY(-10px);
} 

.imgClildren{
    width: 50%;
    margin-bottom: 2%;
    margin-left: 3%
}

.parallax{
    align-items: flex-end
}

@media only screen and (max-width: 767px) {
    .container-sorvete{
        width: 94%;
        padding:0 ;
    }
    .imgClildren{
    width: 80%
}
    .MuiBox-root{
        padding: 0 !important;
    }
}
