@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.container-historia {
  flex-direction: column;
}

.container-historia .content-itens {
  width: 90%;
}

.container-historia .content-img {
  transition: 0.5s;
}

.container-reverse-hist{
    flex-direction: row-reverse;
}

.galery .content-img {
  transition: 0.5s;
  width: 100%;
}

.container-historia .content-img:hover img {
  transform: none;
}

.container-historia .content-img:hover {
  transform: none;
}

.container .content-img p {
  text-align: center !important;
  font-size: 16px;
  font-family: "Philosopher", sans-serif;
  color: #38a38d;
}

.container-historia .galery {
  display: flex;
  width: 90%;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.container-historia .galery[data-about]{
  width: 45%;
}

.container-historia .content-itens[data-about]{
  width: 60%;
}

.container-historia .galery .box-img{
  max-width: 90%;
}

.container-historia .galery .box-img h3{
    font-family: 'Special Elite', cursive;
    font-size: clamp(16px, 1vw + 5px, 25px);
}

div.ant-timeline-item-label{
   font-family: "Special Elite","Philosopher", sans-serif;
    font-size: clamp(15px, 1vw + 3px, 25px);
}

/* margin on small screens */
@media only screen and (max-width: 767px) {
  .container-reverse-hist{
      flex-direction: column;
  }
}


