.container-location {
  flex-direction: column;
}

div[data-reach-combobox] input {
  transition: 1s;
  border-color: #175519 !important;
  color: #175519;
}

div[data-reach-combobox] input:hover {
  transform: translateY(-5px);
  border-color: #ba3676 !important;
}

div[data-reach-combobox] input:focus {
  outline: none;
}

.container-location .content-location {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  width: 80%;
  transition: 2s;
  padding-bottom: 200px;
}

#loading[data-about]{
  opacity: 0;
  transition: 1s;
}

#loading{
  opacity: 1;
  transition: 1s;
}
